html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #3a3a3a, #303030, #021203);
    display: flex;
    font-family: 'Segoe UI', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.5);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.5);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0px 4px 30px rgba(35, 35, 35, 0.5);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0px 4px 30px rgba(35, 35, 35, 0.5);
    color: #fff;
    background: rgb(58, 57, 56);
}

.calc-button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.calc-button:hover{
    background-color: inherit;
}

.calc-button:last-child:active{
    background: rgb(58, 57, 56);
}

.calc-button:active{
    background-color: #d6d1d1;
}

.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 73%;
}